* {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav {
 width: 100vw;
 height: 80px;
}
ul {
  width: 100%;
  height: 100%;
  background: rgb(167, 55, 201);
  display: flex;
  padding: auto;
  justify-content: space-around;
}
li {
  font-size: 1rem;
  line-height: 80px;
  color: #fff;
  font-family: "Louis";
}