@font-face {
  font-family: "Louis";
  src: url("./../fonts/Louis.ttf");
}
* {
  padding: 0;
  margin: 0;
  font-family: "Louis";
}
h2 {
  padding: 20px;
  text-align: center;
}
.form-container {
  background-color: #380055;
  width: 400px;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px 10px;
  margin-top: 10px;
  height: 280px;
}
form {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 10px;
}
input {
 margin: 5px 0;
 padding: 15px;
 width: 90%;
 color: #fff;
 border: none;
 background-color: transparent;
 box-shadow: 0 2px 0 #1c1667;
 font-size: 1rem;
 transition: .5s;
}
input:focus {
  outline: none;
  background-color: #1d5156;
  box-shadow: 0 2px 0 #151150;	
  border-radius: 5px;
  transition: .5s;
}
input:hover {
 background-color: #6566bc;
 box-shadow: 0 2px 0 #3cb9b5;
 border-radius: 20px;	 
 transition: .6s;
}
input::placeholder {
  color: #fff;
  font-size: 1rem;
}
input[type="submit"] {
  background: #0ad300;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: none;
  width: 50%;
  cursor: pointer;
  transition: .5s;
}
input[type="submit"]:hover {
  background-color: #078d00;
  transform: scale(1.05);
  transition: .5s;
}
a {
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  display: block;
  font-weight: 300;
  transition: .3s;
}
a:visited {
  color: #fff;
}


